.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App-title{
  position: absolute;
  left: 20px;
  top: 0px;
  font-size: 24px;
  color: #4d4d4d
}

div.product-filter{
  position: absolute;
  left: 20px;
  top: 80px;
  /* font-size: 24px; */
  /* color: #4d4d4d */
}