div.beauty-swipe-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  min-height: 400px;
}

div.beauty-swipe-wrapper > div {
  /* margin: 0 10px; */
  flex: 0 0 400px;
  /* align-self: flex-end; */
}

h1{
  font-size: 20px;
  font-weight: normal;
  color: #2c2c2c;
}

h2{
  font-size: 18px;
  font-weight: normal;
  color: #6c6c6c;
  margin: 0;
}

div.interaction-count{
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: space-between;
  width: 560px;
}

div.interaction-count > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 64px;
}

div.interaction-count > div > img{
  width: 44px;
  height: 34px;
}

div.card{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px 10px;
  height: 520px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 100%;
}

div.card .body{
  flex: 0 0 80%;
  padding: 10px;
  max-height: 72%;
  display: flex;
  justify-content: center;
}

div.card .body img{
  max-width: 100%;
  max-height: 100%;
}

div.card .footer{
  padding: 0 20px;
  background-color: #E8E7FE;
  height: 28%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

div.card .footer h1{
  margin: 0;
}

div.interaction-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

div.interaction-buttons img {
  width: 100px;
  height: 100px;
}